/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f6f8fa;
    color: #434546;
}

/* regole header */
header {
    background-color: #ffff;
}

header img {
    width: 70px;
    line-height: 100%;
    vertical-align: middle;
    margin: 10px 0 10px 20px
}

header h1 {
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    color: black;
}

/* regole main */

main {
    background-color: #ffff;
    width: 80%;
    margin: 50px auto 10px auto;
    border-radius: 5px;
}

.container {
    margin-left: 60px;
    padding-bottom: 40px;
}

/* regole bottoni */

button {
    background-color: transparent;
    border-color: #d8dbda;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    
}

.task-button {
    background-color: #46abf2;
}

.text-dx {
    color: #7e7d7d;
}

.text-sx {
    color: #ffff;
}

/* sezione liste*/
/* list new task */


section {
    margin-top: 50px;
}

p {
    margin-top: 20px;
    
}

/* sezione dei check */

.done-check {
    color: green;
}

.notdone-check {
    color: red;
}

/* sezione label */

label {
    color: #ffff;
    padding: 8px;
    font-size: 10px;
    border-radius: 10px;
}

.editorial-lb {
    background-color: #4ca8e7;
}

.goal-label {
    background-color: #9c71e0;
}

.rc-label {
    background-color: #62c0a5;
}

.mb-label {
    background-color: #f39e39;
}

.ws-label {
    background-color: #d961a7;
}

.sales-label {
    background-color: #b0c92b;
}